.copyright__container {
  max-width: 1140px;
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}

.copyright__text {
  font-size: 14px;
  line-height: 14px;
  color: #646464;
  margin: 0;
  margin-right: auto;
}

.copyright__list {
  display: flex;
  align-items: center;
}

.copyright__item:not(:first-child) {
  margin-left: 54px;
}

.copyright__link {
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
