.doctors__container {
  padding-top: 120px;
}

.doctors__title {
  margin-bottom: 47px;
  position: relative;
}

.icon-arrow::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 81px;
  height: 15px;
  background-image: url("..//img/titletag.svg");
}

.doctor {
  margin-bottom: 58px;
}

.doctor__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}

.doctor__item {
  max-width: 267px;
  display: grid;
}

.doctor__inner {
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  border: 1px solid #EEEFF1;
  filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  padding: 10px 13px 20px;

  img {
    display: block;
  }
}

.doctor__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3d3d3f;
  padding-top: 18px;
  margin: 0;
}

.name-specialty {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
  margin: 0;
  margin-bottom: 17px;
}

.doctor__social {
  display: flex;
  justify-content: center;

}

.social-btn {
  display: inline-block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;

  &:not(:first-child) {
    margin-left: 12px;
  }

  &:nth-child(1) {
    background-color: #4d77cf;
    background-image: url("..//img/fb.svg");
  }

  &:nth-child(2) {
    background-color: #1da1f2;
    background-image: url("..//img/tw.svg");
  }

  &:nth-child(3) {
    background-color: #0077b5;
    background-image: url("..//img/in.svg");
  }
}

.doctors__btn-wrap {
  display: flex;
  justify-content: center;
}

.doctors__btn {
  display: inline-block;
  padding: 9px 21px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $white;
  text-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  background-color: $primary;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 3px 11px 0 #1863a4;
  }
}
