.logo img {
  transform: translateY(4px);
}

.nav {
  margin-left: auto;
}

.main-nav__list {
  display: flex;
  align-items: center;
}

.nav input[type="checkbox"],
.nav .hamburger-lines {
  display: none;
}

.main-nav__item:not(:first-child) {
  margin-left: 51px;
}

.main-nav__link {
  font-weight: 500;
  line-height: 24px;
  color: #6E5F5F;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.main-nav__link--current {
  color: $primary;
  opacity: 1;
}

.main-nav__button {
  display: inline-block;
  padding: 13px 28px;
  margin-left: 47px;
  font-weight: 400;
  font-size: 14.997px;
  line-height: 22px;
  color: $white;
  background-color: $primary;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 3px 11px 0 #1863a4;
  }
}
