.header {
  background-image: linear-gradient(rgba(238, 250, 255, 0.3), rgba(238, 250, 255, 0.3)), linear-gradient(90deg, rgba(#b1deff, 0.3) 0%, rgba(255, 166, 237, 0) 100%), linear-gradient(-90deg, rgba(#5aa4d9, 0.3) 0%, rgba(255, 166, 237, 0) 100%);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header__container {
  padding-top: 15px;
}

.header__top {
  display: flex;
  height: 56px;
  align-items: center;
}

.header__body {
  padding-top: 157px;
}

