.info {
  border-bottom: 1px solid rgba(#969696, 0.2);
  padding-bottom: 30px;
}

.info__container {
  padding-top: 158px;
  display: grid;
  grid-template-columns: 1fr min-content min-content 1fr;
  gap: 147px;
  color: #646464;
}

.contacts {
  .logo img {
    margin-bottom: 12px;
    transform: translateY(-11px);
  }
}

.contacts__social .social-btn {
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;

  &:nth-child(1) {
    background-image: url("..//img/footer-fb.svg");
  }

  &:nth-child(2) {
    background-image: url("..//img/footer-inst.svg");
  }

  &:nth-child(3) {
    background-image: url("..//img/footer-tw.svg");
  }

  &:nth-child(4) {
    background-image: url("..//img/footer-yt.svg");
  }
}

.contacts__address {
  font-size: 14px;
  margin: 0;
  margin-bottom: 16px;
}

.contacts__phonenumber {
  font-size: 14px;
  margin: 0;
  margin-bottom: 16px;
}

.footer__category {
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
    margin: 0;
    margin-bottom: 24px;
  }

  a {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: #646464;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.footer__about {
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
    margin: 0;
    margin-bottom: 24px;
  }

  a {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: #646464;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.footer__subscribe {
  max-width: 292px;

  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #323232;
    margin: 0;
    margin-bottom: 24px;
  }

  .subscribe-text {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #646464;
    margin: 0;
    margin-bottom: 14px;
  }
}

.subscribe-form {

  input {
    width: 100%;
    background-color: $white;
    border-radius: 5px;
    padding: 12px 20px;
    border: none;
    margin-bottom: 12px;

    &::placeholder {
      color: rgba(117, 117, 117, 0.65);
    }

  }

  button {
    width: 100%;
    padding: 12px 20px;
    background-color: $primary;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $white;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 11px 0 #1863a4;
    }
  }
}
