// .main {
//   background-image: url("..//img/bg.png");
// }

.main__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #3E3E3E;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.main__subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin: 0;
  margin-bottom: 75px;
}
