.mobile-app {
  // background: linear-gradient(180deg, rgba(#5da8de, 0.1) 0%, rgba(255, 166, 237, 0) 100%);
  background: linear-gradient(180deg, rgba(234, 200, 133, 0.2) 0%, rgba(255, 166, 237, 0) 100%);
}

.mobile-app__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 700px;
  padding-top: 60px;
}

.l-column {
  position: relative;
}

.mobile-app__bg {
  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 561px;
    width: 877px;
    top: 0;
    left: -143px;
    background-image: url(..//img/mockup.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.r-column {
  padding-top: 90px;
}


.mobile-app__title {
  text-align: left;
  margin-right: 17px;
  margin-bottom: 30px;
}

.mobile-app__descr {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin: 0;
  margin-bottom: 30px;
}

.mobile-app__btn-wrap {
  display: flex;
  gap: 13px;
}

.mobile-app__btn {
  display: inline-block;
  border-radius: 5px;
  width: 100%;

  &:nth-child(1) {
    max-width: 156px;
    height: 46px;
    background-image: url("..//img/googleplay.svg");
  }

  &:nth-child(2) {
    max-width: 138px;
    height: 46px;
    background-image: url("..//img/appstore.svg");
  }
}
