.service__container {
  padding-top: 148px;
}

.service__title {
  margin-bottom: 24px;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px;
}

.service__item {
  max-width: 349px;
}

.blur-service-1 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 438px;
    height: 494px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #99d4ed;
    opacity: 0.3;
    filter: blur(100px);
    transform: rotate(90deg);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 438px;
    height: 494px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #cde9ff;
    opacity: 0.3;
    filter: blur(100px);
    transform: rotate(90deg);
    z-index: -1;
  }
}

.blur-service-2 {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 550px;
    height: 620px;
    overflow: hidden;
    background-image: linear-gradient(90.26deg, rgba(170, 128, 255, 0.7) 0.21%, rgba(160, 113, 255, 0.455) 97.38%);
    opacity: 0.3;
    filter: blur(100px);
    transform: rotate(90deg);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 550px;
    height: 620px;
    overflow: hidden;
    background: #cde9ff;
    opacity: 0.3;
    filter: blur(100px);
    transform: rotate(90deg);
    z-index: -1;
  }
}

.current .service__wrap {
  background: #FFFFFF;
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
}

.service__wrap {
  padding: 152px 57px 31px;
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  box-shadow: 0px 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.service__category {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3d3d3f;
  margin: 0;
  margin-bottom: 23px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 108px;
    height: 78px;
    background-repeat: no-repeat;
  }
}

.service__item:nth-child(1)>.service__wrap>.service__category::before {
  background-image: url("..//img/heart.svg");
  width: 108px;
  height: 72px;
}

.service__item:nth-child(2)>.service__wrap>.service__category::before {
  background-image: url("..//img/lungs.svg");
  width: 77px;
  height: 77px;
}

.service__item:nth-child(3)>.service__wrap>.service__category::before {
  background-image: url("..//img/capsule.svg");
  width: 74px;
  height: 78px;
}

.service__category-descr {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
  text-align: center;
  margin: 0;
}
